[Desktop Entry]
Type=Application
Version=1.0
Name=Flash
GenericName=Terminal Emulator
Comment=GPU-first Wayland terminal emulator
Exec=flash
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;terminal;
StartupNotify=true
